.top-bar-neon {
    position: fixed;
    width: 100%;
    background: #171111;
    box-shadow: 0 0 20px #ff02c121;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff02c125;
}

.top-bar-neon button {
    background-color: #171111;
    color: #ffffffff;
    transform: skew(-40deg);
    height: 36px;
    width: 100px;
    margin-right: 2px;
    border: none;
    color: #808080ff;
    box-shadow:
        0 0 15px #4600f14c,
        0 0 19px #ff000057;
}
.top-bar-neon span {
    display: inline-block;
    transform: skew(40deg);
}
.top-bar-neon button:hover,
button.active {
    color: #ff0000;
    display: inline-block;
    transform: skew(-40deg);
    text-shadow:
        0 0 25px #ff0000,
        0 0 10px #ff000080;
}

body {
    background-color: #0a0a0a;
    margin: 0;
}
